.ui.segment {
    margin-left: 30%;
    margin-right: 30%;
    top: 10%;
}
.ui.form {
    margin-left: 30%;
    margin-right: 30%;
}
.ui.submit.button {
    margin-left: 43%;
    margin-right: 30%;
}
#boss_img {
    margin-left: 15%;
}
