#navbar{
  margin-top:0;
}
.header {
    text-align: center;
}
.ui.modal {
    text-align:center;
    font-size:150%;
}
#choose {
    width:300px;
    height:300px;
    font-size:150%;
    text-align:center;
}
#cnt {
    line-height:230px;
    text-align:center;
}
#cnt1 {
    text-align:center;
}
