.ui.segment {
    margin-left: auto;
    margin-right: auto;
    top: 10%;
}
.ui.form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.ui.submit.button {
    margin-left: 43%;    
    margin-right: auto;
}
.header {
    text-align: center;
}
.ui.modal {
    width: 30%;
    left:63%;
}
