.ui.segment {
    width: 80%;
    margin-left: auto;
    margin-right: auto
}
#post_button {
    margin-right:3em;

}
    
#modal_msg{
  width:60%;
  margin:0 auto;
  margin-top:1em;
  text-align:center;
}
.fp-controlArrow.fp-prev{
  border-color:transparent #5BBD72 transparent transparent;
}
.fp-controlArrow.fp-next{
  border-color:transparent transparent transparent #5BBD72;
}
